body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.controls {
    margin: 20px;
}

#visualization {
    margin: 20px;
    text-align: center;
}
/* .tooltip {
    position: absolute;
    background: black;
    padding: 8px;
    border: 1px solid #181717;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    visibility: hidden;
    z-index: 1; 
} */

.bubble {
    fill: steelblue;
    opacity: 0.7;
    stroke: aquamarine;
    height: 60px;
    width:60px;
   
}
.bubble:hover{
    cursor: pointer;
}

#map {
    height: 400px;
    width: 400px;
    
}
/* #map {
    height: 600px;
    float: left;
    width: 60%;
} */

#Line-charts-maps {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

#line-chart {
    margin-top: 20px;
}
.bar {
    fill: rgb(76, 180, 70);
}

.tooltip {
    position: absolute;
    background: white;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    /* pointer-events: none; */
    visibility: hidden;
}


#line-chart {
    margin-top: 20px;
}

#area-chart {
    margin-top: 20px;
}
/* #bar-charts {
    margin-top: 20px;
} */


/* .card {
    width: 400px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
} */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-bottom: 20px;
}

#map-bar-container{
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    display: flex;
    gap: 100px;
}




  